  html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
  .avatar {
    vertical-align: middle;
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  .styled-table {
       border: 1px solid #3a4b53;
      border-collapse: collapse;
      margin: 0px 0;
      font-size: 0.9em;
      font-family: sans-serif;
      min-width: 400px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  .styled-table thead tr {
      background-color: #3a4b53;
      color: #ffffff;
      text-align: left;
  }
  .styled-table th {
      padding: 12px 15px;
  }
  .styled-table td {
      padding: 10px 15px;
  }
  .styled-table tbody tr {
      border-bottom: 1px solid #dddddd;
  }
  
  .styled-table tbody tr:nth-of-type(even) {
      background-color: #f3f3f3;
  }
  
  .styled-table tbody tr:last-of-type {
      border-bottom: 2px solid #3a4b53;
  }
  .styled-table tbody tr.active-row {
      font-weight: bold;
      color: #3a4b53;
  }